---
apiVersion: v1
kind: Service
metadata:
  name: gluetun
  namespace: {{ namespace }}
  labels:
    app: gluetun
spec:
  type: {{ service.type }}
  selector:
    app: gluetun
  ports:
  - name: http-proxy
    port: {{ gluetun.ports.http_proxy }}
    targetPort: {{ gluetun.ports.http_proxy }}
    protocol: TCP
{% if service.type == "NodePort" and service.nodePort %}
    nodePort: {{ service.nodePort }}
{% endif %}
  - name: shadowsocks
    port: {{ gluetun.ports.shadowsocks }}
    targetPort: {{ gluetun.ports.shadowsocks }}
    protocol: TCP
